<app-header />
<main>
  <div id="dashboard">
    <app-dashboard-card
      title="Server Status"
      [image]="{ src: 'status.png', alt: 'Status Icon' }"
    >
      <app-server-status />
    </app-dashboard-card>

    <app-dashboard-card
      title="Traffic"
      [image]="{ src: 'globe.png', alt: 'Traffic Icon' }"
    >
      <app-traffic />
    </app-dashboard-card>

    <app-dashboard-card
      title="Tickets"
      [image]="{ src: 'list.png', alt: 'List Icon' }"
    >
      <app-tickets />
    </app-dashboard-card>
  </div>
</main>
