<form (ngSubmit)="onSubmit()" #form>
  <app-control label="Title">
    <input
      type="text"
      id="title"
      [(ngModel)]="enteredTitle"
      #input
      placeholder="Write here"
    />
  </app-control>
  <app-control label="Request">
    <textarea
      id="request"
      rows="3"
      [(ngModel)]="enteredText"
      #input
      placeholder="Write your request."
    ></textarea>
  </app-control>
  <p>
    <button appButton>Submit <span ngProjectAs="icon">⌲</span></button>
  </p>
</form>
